@using System.Web.Optimization
@using PcaSoundCloud.Web.Helpers
@model PcaSoundCloud.Shared.User
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Bootstrap 3 &bull; @ViewBag.Title</title>

    @Styles.Render("~/css")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <a href="#">Upload</a>
                </div>
                <div class="col-md-4 pull-right">
                    <form id="custom-search-form" class="form-search form-horizontal pull-right">
                        <div class="input-group">
                            <input type="text" class="search-query" placeholder="Search">
                            <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="navbar-header">
                <img />
            </div>
        </div>
    </div>
    <div class="container" style="margin-top:20px;">
        @RenderBody()
    </div>
    @Scripts.Render("~/js")
    @RenderSection("scripts", required: false)
</body>
</html>
